body{
    width: 100%;
    background-image: url(img/basilica\ del\ santo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
}